*,
*:before,
*:after {
    box-sizing: inherit;
}

.survey,
.choices {
    list-style-type: none;
    padding: 0;
}
.choices li {
    text-align: start;
    margin-bottom: 5px;
}
.choices label {
    display: flex;
    align-items: center;
}
.choices label,
input[type="radio"] {
    cursor: pointer;
}
input[type="radio"] {
    margin-right: 8px;
}
.view-results {
    padding: 1rem;
    cursor: pointer;
    font-size: inherit;
    color: white;
    background: teal;
    border-radius: 8px;
    margin-right: 5px;
}
