<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub User Information Awareness Survey</title>
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <link rel="stylesheet" href="../static/css/center.css"/>
    <link rel="stylesheet" href="../static/css/choice.css"/>
    <link rel="stylesheet" href="../static/css/hover.css"/>
    <link rel="icon" type="image/x-icon" href="../static/media/favicon.ico">
    <style>
        body {
            background: azure;
        }
        header {
            padding-bottom: 20px;
        }
        form {
            padding-top: 20px;
        }
        table, th, td {
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<header class="center">
    <a href="https://www.vanderbilt.edu">
        <img src="../static/media/vu-logo.png" alt="vu-logo" width="150">
    </a>

    <h2 class="center"> GitHub User Information Awareness Survey </h2>
</header>

<body class="center">
    <h4>Commit Information</h4>

    <table>
        <tr style="height:30px">
            <th style="width:100px"><span class="hovertext c1" data-hover="GitHub Account Username">Username</span></th>
            <th style="width:100px"><span class="hovertext c2" data-hover="Commit Author Name">Name</span></th>
            <th style="width:100px"><span class="hovertext c3" data-hover="Commit Email Address">Email</span></th>
            <th style="width:100px"><span class="hovertext c4" data-hover="Commit Date">Date</span></th>
            <th style="width:100px"><span class="hovertext c5" data-hover="Repository Name">Repo Name</span></th>
            <th style="width:100px"><span class="hovertext c6" data-hover="Signed Commit">Verified</span></th>
        </tr>
        <tr>
            <td>fantasai</td>
            <td>Delan Azabani</td>
            <td>dazabani@igalia.com</td>
            <td>2022/10/11</td>
            <td>w3c/csswg-drafts</td>
            <td>True</td>
        </tr>
    </table>
</body>

<form>
    <ul class="survey">
        <li>
            <h4>How many letters are there in "JS"?</h4>
            <ul class="choices">
                <li>
                    <label>
                        <span class="center">
                            <input type="radio" name="question0" value="A" />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </span>
                    </label>
                </li>
                <li>
                    <label>
                        <span class="center">
                            <input type="radio" name="question0" value="A" />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </span>
                    </label>
                </li>
            </ul>
        </li>
    </ul>

    <button>Submit</button>
</form>

<footer class="site-footer center">
    <hr>
    <a href="https://engineering.vanderbilt.edu/">
        <img src="../static/media/vuse-logo.png" alt="vuse-logo" width="250">
    </a>

    <p class="caption">
        Copyright &copy; 2022 All Rights Reserved by
        <a href="https://engineering.vanderbilt.edu/">VUSE</a>. <br>
        Any Questions? <a href="mailto:anda.liang@vanderbilt.edu">Contact Us</a>
    </p>
</footer>
</html>
