<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  browser tab title  -->
    <title>GitHub User Information Awareness Survey</title>
    <!--  css style templates  -->
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <link rel="stylesheet" href="../static/css/center.css"/>
    <link rel="stylesheet" href="../static/css/choice.css"/>
    <link rel="stylesheet" href="../static/css/hover.css"/>
    <!--  js functions  -->
    <script src="../static/js/include-html.js"></script>
    <script src="../static/js/pages.js"></script>
    <script src="../static/js/load-info.js"></script>
    <!--  pyscript support  -->
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <!--  browser tab image  -->
    <link rel="icon" type="image/x-icon" href="../static/media/favicon.ico">
    <style>
        body {
            /*page background*/
            background: azure;
        }
        header {
            /*header spacing*/
            padding-bottom: 20px;
        }
        form {
            /*survey question spacing*/
            padding-top: 20px;
        }
        table, th, td {
            /*table spacing*/
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body class="center">
    <!--  include header  -->
    <div include-html="header.html"></div>

    <!--  include survey pages  -->
    <div include-html="pages.html"></div>

    <!--  include footer  -->
    <div include-html="footer.html"></div>
</body>

<!--  include necessary html  -->
<script>
    includeHTML();
</script>

</html>
