<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  browser tab title  -->
    <title>GitHub User Information Awareness Survey</title>
    <!--  css style templates  -->
    <link rel="stylesheet" href="../static/css/config.css"/>
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <link rel="stylesheet" href="../static/css/center.css"/>
    <link rel="stylesheet" href="../static/css/choice.css"/>
    <link rel="stylesheet" href="../static/css/hover.css"/>
    <!--  js functions  -->
    <script src="../static/js/config.js"></script>
    <script src="../static/js/file.js"></script>
    <script src="../static/js/include-html.js"></script>
    <script src="../static/js/pages.js"></script>
    <script src="../static/js/parse-csv.js"></script>
    <script src="../static/js/progress.js"></script>
    <!--  browser tab image  -->
    <link rel="icon" type="image/x-icon" href="../static/media/favicon.ico">
</head>

<body class="center">
    <!--  include header  -->
    <header>
        <!--  header image  -->
        <a href="https://www.vanderbilt.edu">
            <img src="../static/media/vu-logo.png" alt="vu-logo" width="150">
        </a>
        <!--  header title  -->
        <h2 class="center" style="font: 24px Georgia"> GitHub User Information Awareness Survey </h2>
        <progress id="progress" value="0" max="100"></progress>
        <span id="percentage" style="font: 12px Georgia">0%</span>
    </header>

    <!--  include survey pages  -->
    <div include-html="pages.html"></div>

    <footer class="site-footer center">
        <hr>
        <a href="https://engineering.vanderbilt.edu/">
            <img src="../static/media/vuse-logo.png" alt="vuse-logo" width="250" style="margin-top: -10px">
        </a>

        <p class="caption" style="font: 15px Times;">
            Copyright &copy; 2022 All Rights Reserved by
            <a href="https://engineering.vanderbilt.edu/">VUSE</a>. <br>
            Any Questions? <a href="mailto:anda.liang@vanderbilt.edu">Contact Us</a>
        </p>
    </footer>
</body>

</html>
