<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub User Information Awareness Survey</title>
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <link rel="stylesheet" href="../static/css/center.css"/>
    <link rel="stylesheet" href="../static/css/text-box.css"/>
    <style>
        body {
            background: azure;
        }
        header {
            padding-bottom: 20px;
        }
        form {
            padding-top: 20px;
        }
        input {
            vertical-align: middle;
        }
        label {
            vertical-align: middle;
        }
        button {
            font: 14px Georgia;
        }
    </style>
</head>

<header class="center">
    <a href="https://www.vanderbilt.edu">
        <img src="../static/media/vu-logo.png" alt="vu-logo" width="150">
    </a>

    <h2 class="center"> GitHub User Information Awareness Survey </h2>
</header>

<body class="center">
    <p>
        END OF SURVEY MESSAGE.
    </p>
</body>

<footer class="site-footer center">
    <hr>
    <a href="https://engineering.vanderbilt.edu/">
        <img src="../static/media/vuse-logo.png" alt="vuse-logo" width="250">
    </a>

    <p class="caption">
        Copyright &copy; 2022 All Rights Reserved by
        <a href="https://engineering.vanderbilt.edu/">VUSE</a>. <br>
        Any Questions? <a href="mailto:anda.liang@vanderbilt.edu">Contact Us</a>
    </p>
</footer>
</html>
