<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub User Information Awareness Survey</title>
    <link rel="stylesheet" href="../static/css/config.css"/>
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <link rel="stylesheet" href="../static/css/center.css"/>
    <!--  browser tab image  -->
    <link rel="icon" type="image/x-icon" href="../static/media/favicon.ico">
</head>

<body>
    <!--  include header  -->
    <header>
        <!--  header image  -->
        <a href="https://www.vanderbilt.edu">
            <img src="../static/media/vu-logo.png" alt="vu-logo" width="150">
        </a>
        <!--  header title  -->
        <h2 class="center" style="font: 24px Georgia"> GitHub User Information Awareness Survey </h2>
        <progress id="progress" value="100" max="100"></progress>
        <span id="percentage" style="font: 12px Georgia">100%</span>
    </header>

    <div id="end">
        We thank you for your time spent taking this survey. <br>
        Your response has been recorded.
    </div>

    <div id="error" style="display: none">
        ERROR: Invalid SurveyID in query parameter. <br>
        Please contact website owner for support.
    </div>

    <footer class="site-footer center">
        <hr>
        <a href="https://engineering.vanderbilt.edu/">
            <img src="../static/media/vuse-logo.png" alt="vuse-logo" width="250" style="margin-top: -10px">
        </a>

        <p class="caption" style="font: 15px Times;">
            Copyright &copy; 2022 All Rights Reserved by
            <a href="https://engineering.vanderbilt.edu/">VUSE</a>. <br>
            Any Questions? <a href="mailto:anda.liang@vanderbilt.edu">Contact Us</a>
        </p>
    </footer>

    <!--  load page based on status  -->
    <script type="text/javascript">
        document.onload = function() {
            const status = query('Status');
            if (status === "error") {
                const end = document.getElementById('end');
                const error = document.getElementById('error');
                const progress = document.getElementById('progress');
                const percentage = document.getElementById('percentage');

                end.style.display = 'none';
                error.style.display = 'block';
                progress.style.display = 'none';
                percentage.style.display = 'none';
            }
        }
    </script>
</body>

</html>
