<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub User Information Awareness Survey</title>
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <link rel="stylesheet" href="../static/css/center.css"/>
    <link rel="stylesheet" href="../static/css/text-box.css"/>
    <!--  js functions  -->
    <script src="../static/js/include-html.js"></script>
    <!--  browser tab image  -->
    <link rel="icon" type="image/x-icon" href="../static/media/favicon.ico">
    <style>
        body {
            background: azure;
        }
        header {
            padding-bottom: 20px;
        }
        form {
            padding-top: 20px;
        }
        input {
            vertical-align: middle;
        }
        label {
            vertical-align: middle;
        }
        button {
            font: 14px Georgia;
        }
    </style>
</head>

<body class="center">
    <!--  include footer  -->
    <div include-html="header.html"></div>

    <p>
        We thank you for your time spent taking this survey. <br>
        Your response has been recorded.
    </p>

    <!--  include footer  -->
    <div include-html="footer.html"></div>
</body>

<!--  include necessary html  -->
<script>
    includeHTML();
</script>

</html>
