<section id="Page1" class="page">
    <!--  survey prompt here  -->
    <div include-html="prompt.html"></div>

    <!--  survey questions begin here  -->
    <div include-html="questions.html"></div>

    <!--  page logic  -->
    <button>
        <span onclick="show('Page2'); advance();">Next</span>
    </button>
</section>

<section id="Page2" class="page" style="display:none">
    <!--  survey prompt here  -->
    <div include-html="prompt.html"></div>

    <!--  survey questions begin here  -->
    <div include-html="questions.html"></div>

    <!--  page logic  -->
    <button style="margin-right: 200px;">
        <span onclick="show('Page1');">Previous</span>
    </button>

    <button>
        <span onclick="show('Page3'); advance();">Next</span>
    </button>
</section>

<section id="Page3" class="page" style="display:none">
    <!--  survey prompt here  -->
    <div include-html="prompt.html"></div>

    <!--  survey questions begin here  -->
    <div include-html="questions.html"></div>

    <!--  page logic  -->
    <button>Submit</button>
</section>

<section id="Page4" class="page" style="display:none">
    <!--  survey prompt here  -->
    <div include-html="prompt.html"></div>

    <!--  survey questions begin here  -->
    <div include-html="questions.html"></div>

    <!--  page logic  -->
    <button>Submit</button>
</section>

<section id="Page5" class="page" style="display:none">
    <!--  survey prompt here  -->
    <div include-html="prompt.html"></div>

    <!--  survey questions begin here  -->
    <div include-html="questions.html"></div>

    <!--  page logic  -->
    <button>Submit</button>
</section>

<section id="Page6" class="page" style="display:none">
    <!--  survey prompt here  -->
    <div include-html="prompt.html"></div>

    <!--  survey questions begin here  -->
    <div include-html="questions.html"></div>

    <!--  page logic  -->
    <button>Submit</button>
</section>

<section id="Page7" class="page" style="display:none">
    <!--  survey prompt here  -->
    <div include-html="prompt.html"></div>

    <!--  survey questions begin here  -->
    <div include-html="questions.html"></div>

    <!--  page logic  -->
    <button>Submit</button>
</section>

<section id="Page8" class="page" style="display:none">
    <!--  survey prompt here  -->
    <div include-html="prompt.html"></div>

    <!--  survey questions begin here  -->
    <div include-html="questions.html"></div>

    <!--  page logic  -->
    <button>Submit</button>
</section>

<section id="Page9" class="page" style="display:none">
    <!--  survey prompt here  -->
    <div include-html="prompt.html"></div>

    <!--  survey questions begin here  -->
    <div include-html="questions.html"></div>

    <!--  page logic  -->
    <button>Submit</button>
</section>

<section id="Page10" class="page" style="display:none">
    <!--  survey prompt here  -->
    <div include-html="prompt.html"></div>

    <!--  survey questions begin here  -->
    <div include-html="questions.html"></div>

    <!--  page logic  -->
    <button>Submit</button>
</section>