<!--  table style  -->
<style>
    table, th, td {
        /*table spacing*/
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<!--  survey stimuli information  -->
<h3 style="font: 20px Georgia">Commit Information</h3>

<table style="font: 16px Georgia; border: 1px solid black; margin-left: auto; margin-right: auto;">
    <tr style="height:30px; border: 1px solid black; margin-left: auto; margin-right: auto;">
        <th style="width:100px"><span class="hovertext c1" data-hover="GitHub Account Username">Username</span></th>
        <th style="width:100px"><span class="hovertext c2" data-hover="Commit Author Name">Name</span></th>
        <th style="width:200px"><span class="hovertext c3" data-hover="Commit Email Address">Email</span></th>
        <th style="width:100px"><span class="hovertext c4" data-hover="Commit Date">Date</span></th>
        <th style="width:200px"><span class="hovertext c5" data-hover="Repository Name">Repo Name</span></th>
        <th style="width:100px"><span class="hovertext c6" data-hover="Signed Commit">Verified</span></th>
    </tr>

    <tr>
        <td>fantasai</td>
        <td>Delan Azabani</td>
        <td>dazabani@igalia.com</td>
        <td>20221007172638</td>
        <td>w3c/csswg-drafts</td>
        <td>TRUE</td>
    </tr>

    <caption style="caption-side:bottom; text-align:left; margin-top: 10px; font: 14px Georgia;">
    *More Commit Information:
    <a target="_blank" href="https://github.com/w3c/csswg-drafts/commit/a92feba86033e3df4f51734cb964497d7085244f"
    class="hovertext link" data-hover="https://github.com/w3c/csswg-drafts/commit/a92feba86033e3df4f51734cb964497d7085244f"
    style="cursor: pointer;">
        GitHub Commit Page
    </a>
</caption>
</table>


