<!--  survey prompt  -->

<!--  survey stimuli information  -->
<h3 style="font: 20px Georgia">Commit Information</h3>

<table style="font: 16px Georgia">
    <tr style="height:30px">
        <th style="width:100px"><span class="hovertext c1" data-hover="GitHub Account Username">Username</span></th>
        <th style="width:100px"><span class="hovertext c2" data-hover="Commit Author Name">Name</span></th>
        <th style="width:200px"><span class="hovertext c3" data-hover="Commit Email Address">Email</span></th>
        <th style="width:100px"><span class="hovertext c4" data-hover="Commit Date">Date</span></th>
        <th style="width:200px"><span class="hovertext c5" data-hover="Repository Name">Repo Name</span></th>
        <th style="width:100px"><span class="hovertext c6" data-hover="Signed Commit">Verified</span></th>
    </tr>

    <tr>
        <td id="account"></td>
        <td id="name"></td>
        <td id="email"></td>
        <td id="date"></td>
        <td id="repo"></td>
        <td id="sign"></td>
    </tr>
</table>
