<!--  survey stimuli information  -->
<h3>Commit Information</h3>

<table>
    <tr>
        <th style="width:100px"><span class="hovertext c1" data-hover="GitHub Account Username">Username</span></th>
        <th style="width:100px"><span class="hovertext c2" data-hover="Commit Author Name">Name</span></th>
        <th style="width:200px"><span class="hovertext c3" data-hover="Commit Email Address">Email</span></th>
        <th style="width:100px"><span class="hovertext c4" data-hover="Commit Date">Date</span></th>
        <th style="width:200px"><span class="hovertext c5" data-hover="Repository Name">Repo Name</span></th>
        <th style="width:100px"><span class="hovertext c6" data-hover="Signed Commit">Verified</span></th>
    </tr>

    <tr>
        <td>fantasai</td>
        <td>Delan Azabani</td>
        <td>dazabani@igalia.com</td>
        <td>2022/10/07</td>
        <td>w3c/csswg-drafts</td>
        <td>TRUE</td>
    </tr>

    <caption style="caption-side:bottom; text-align:left; margin-top: 10px; font: 14px Georgia;">
    *More Information:
    <a target="_blank" href="https://github.com/w3c/csswg-drafts/commit/a92feba86033e3df4f51734cb964497d7085244f"
    class="hovertext link" data-hover="https://github.com/w3c/csswg-drafts/commit/a92feba86033e3df4f51734cb964497d7085244f"
    style="cursor: pointer;">
        GitHub Commit Page
    </a>
</caption>
</table>


