<!--  survey questions begin here  -->

<div class="container">
    <div class="column">
        <form style="padding-top: 20px;">
            <ul class="survey">
                <li>
                    <h4>Do you recognize this commit?</h4>
                    <ul class="choices">
                        <li>
                            <label>
                                <span>
                                    <input type="radio" name="question0" value="A"/>
                                    Yes, I remember making this commit.
                                </span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <span>
                                    <input type="radio" name="question0" value="A"/>
                                    No, I do not remember making this commit.
                                </span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <span>
                                    <input type="radio" name="question0" value="A"/>
                                    I am not sure.
                                </span>
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
        </form>
    </div>
    <div class="column">
        <form style="padding-top: 20px;">
            <ul class="survey">
                <li>
                    <h4>Do you think the commit information is correct?</h4>
                    <ul class="choices">
                        <li>
                            <label>
                                <span>
                                    <input type="radio" name="question0" value="A"/>
                                    Yes, I think the commit information is correct.
                                </span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <span>
                                    <input type="radio" name="question0" value="A"/>
                                    No, I think some commit information is incorrect.
                                </span>
                            </label>
                        </li>
                        </li>
                        <li>
                            <label>
                                <span>
                                    <input type="radio" name="question0" value="A"/>
                                    I am not sure.
                                </span>
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
        </form>
    </div>
</div>
